<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  {% seo %}
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
  />
  <link
    rel="stylesheet"
    href="{{ '/assets/plugins/fontawesome-free/css/all.min.css' | prepend: site.baseurl }}"
  />
  <link
    rel="stylesheet"
    href="{{ '/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' | prepend: site.baseurl }}"
  />
  <link
    rel="stylesheet"
    href="{{ '/assets/css/docs.css' | prepend: site.baseurl }}"
  />
  <link
    rel="stylesheet"
    href="{{ '/assets/css/highlighter.css' | prepend: site.baseurl }}"
  />
  <link
    rel="stylesheet"
    href="{{ '/assets/css/adminlte.min.css' | prepend: site.baseurl }}"
  />
</head>
